/* ****** Universal Selector ******* */

* {
  padding: 0;
  margin: 0;
}

/* Common items */

.common-btn {
  display: inline-block;
  background-color: #1d4ed8;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Header Section Style */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1320px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav-list a {
  color: #575757;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-list a:hover {
  color: black;
}

/* ********* hero Section *************** */

.hero-section {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 786px;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  color: #ffffff;
  text-align: center;
}

.hero-content h2 {
  font-size: 3rem;
  max-width: 900px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hero-content p {
  font-size: 1.5rem;
  max-width: 840px;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero-cta .common-btn {
  padding: 1.7rem 5rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

/********** Speaker section *****************/
.speaker-section {
  padding: 40px 20px;
  max-width: 1320px;
  margin: 0 auto;
}

.speaker-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #000102;
}

.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #dadada;
}
.speaker-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.speaker-card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
}

.card-text h2 {
  font-size: 0.8rem;
  color: #2563eb;
}

.card-text .name {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 0 5px 0;
  color: #0d1b2a;
}

.card-text .role {
  color: #575757;
  margin: 0 0 5px 0;
  font-size: 0.9rem;
}

/* *************** Price Secton ************* */

.price-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10pax;
  gap: 10px;
  margin-top: 7rem;
}

.price-text h2 {
  font-size: 4rem;
}

.price-text p {
  font-size: 1.5rem;
  color: #575757;
}

.price-card-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  gap: 20px;
  padding: 50px;
}

.price-card {
  width: auto;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 38px;
}

.price-pro {
  background: #2b2b2b;
}
.price-team {
  background: #e5e7eb;
}

.plan-name {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #888888;
  margin-bottom: 18px;
}

.price-pro .plan-name {
  color: #93c5fd;
}

.price-tag {
  font-size: 50px;
  font-weight: 700;
  color: #0d1b2a;
  line-height: 1;
}

.price-pro .price-tag {
  color: white;
}

.price-subtitle {
  margin-top: 10px;
  font-size: 15;
  color: #888888;
}

.price-pro .price-subtitle {
  color: ##ffffff80;
}

hr {
  border: none;
  border-top: 1px solid #ececec;
  margin: 22px 0;
}

.feature-list {
  list-style: none;
  margin-bottom: 35px;
}

.feature-list li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 18px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5;
}

.price-pro .feature-list li {
  color: #ffffffcc;
}

.price-team .feature-list li {
  color: #333333;
}

.feature-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #2563eb;
  font-size: 24px;
  line-height: 1;
}

/* ******** BUTTON ********/
.btn {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
}

.btn-standard {
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

.btn-pro {
  background: #5452ea;
  color: #fff;
  border: none;
}

.btn-team {
  border: 2px solid #2b2b2b;
  color: #222;
}

/********* AI Section: SPONSOR ***********/
.sponsors {
  padding: 100px 20px;
  background: #ffffff;
}

.container {
  max-width: 1320px;
  margin: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-tag {
  display: inline-block;
  color: #4f46e5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.section-header h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 4rem;
}

.section-header p {
  font-size: 1.5rem;
  color: #575757;
  margin: auto;
  max-width: 650px;
}

/*********** Sponsor Logo Grid ***********/

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.sponsor-card {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  background: #fff;
  transition: 0.35s;
}

.sponsor-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.sponsor-card img {
  width: 140px;
  max-width: 80%;
  filter: grayscale(100%);
  opacity: 0.75;
  transition: 0.3s;
}

.sponsor-card:hover img {
  filter: none;
  opacity: 1;
}

/************ Footer ****************/

.footer {
  background: #1b2130;
  padding: 36px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  color: #8b93a7;
  font-size: 15px;
  margin: 0;
}

.footer-right {
  display: flex;
  gap: 40px;
}

.footer-right a {
  color: #8b93a7;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-right a:hover {
  color: #ffffff;
}
